<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\Users\Administrator\AppData\Local\Programs\Python\Python311\python.exe"
                  arguments="-m uvicorn main:app --port %HTTP_PLATFORM_PORT%"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\python.log"
                  startupTimeLimit="120"
                  startupRetryCount="3">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="E:\All_IBM_Server\TASK_MANAGEMENT" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>